@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css";

.hero.is-primary {
    background-color: #d18e00;
    color: #fff;
}

.breadcrumb {
    margin-left: 20px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #007bff; 
}

.breadcrumb li.is-active a {
    color: #000; /* activo */
}

ul.title.is-5 {
    margin-bottom: 0.5rem; /* Margen inferior de 0,5rem */
}

h2.title.is-5, h3.title.is-5 {
    margin: 1rem; 
}

.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 1rem;
}

.container.main-content img {
    margin-top: 1rem; 
}